*{
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Remove focus outline for buttons on click */
button:focus {
  outline: none !important;
  border: none; /* Additionally, you can remove the button border */
  box-shadow: none; /* Remove any box shadow if applied */
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3vh;
  width: 80vh;
  height: 80vh;
  background-color: #333;
  padding: 3vh;
  border-radius: 15px;
  box-shadow: 0 0 3vh rgb(0, 0, 0);
}

#display {
  grid-column: 1 / span 4;
  height: 13vh;
  font-size: 7vh;
  text-align: right;
  margin: 0;
  padding: 0 3vh;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
}

.btn {
  height: 13vh;
  font-size: 5vh;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #888;
}

.operator {
  background-color: #f39c12;
  color: black;
}

.operator:hover{
  background-color: #ffd000;
}

#clear {
  background-color: #ff1900;
}

#clear:hover{
  background-color: #ff450c;
}

#calculate {
  background-color: #13d665;
}

#calculate:hover{
  background-color: #00ff9d;
}

@media (max-width: 600px) {
  body {
    height: 90vh;
  }
  #display {
    font-size: 5vh;
    height: 8vh;
  }
  .calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0vh;
    width: 80vw;
    height: 50vh;
    padding: 3vh;
  }
  .btn {
    height: 8vh;
    font-size: 4vh;
  }
  .calculator { 
    grid-template-columns: repeat(5, 1fr);
    gap: 1vh;
    padding: 3vh;
  }
}
